a:link {
    color:red;
    text-decoration:none;
}
a:visited {
    color:blue;
}
a:hover {
    color:orange;
}
h1 {
    font-size:60px;
    text-align:center;
    border:0;
    border-bottom:5px solid black;
    padding:20px;
    margin:0;
}
#grid {
    display:grid;
    grid-template-columns: 150px 1fr;
}
#grid ol {
    padding-top: 10px;
}
#article {
    border-left:3px solid black;
    padding:30px;
    padding-top:10px;
}
li {
    font-size:20px;
    padding:10px;
    padding-left:0;
}
